/* Enter your custom styles here */


.myTextWithMargin {
    margin-left: 20px;  /* Ajusta el valor según lo necesites */
    width: 200px;       /* Ancho del texto */
}

.myTextWithMarginRight {
    margin-right: 7px;  /* Ajusta el valor según lo necesites */
    width: 200px;       /* Ancho del texto */
}

.políticasLabel {
    margin-top: 9px; /* Ajusta el valor según el espacio que necesites */
}

.MessageAPI {
    margin-top: 18px; /* Ajusta el valor según el espacio que necesites */
}

.plazoconserv {
    position: relative;
    top: -4px; /* Ajusta según lo que necesites */
}

.myCustomMargin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.boldText {
    font-weight: bold;
    font-size: 16px;
}

.MarginLeftAgregarNivelPrincipal {
    margin-left: 5px;
 
}

.customMessageBox  {
    text-align: center ;
    width: 100%;
}